<div class="row">
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-6 voce-sabia color-grey">
        <h2>Voce sabe o que <span class="back-orange">as deputadas</span> estão fazendo na câmara?</h2>
      </div>
      <div class="col-md-6">
        <p class="color-grey" style="margin-top: 3em; max-width: 400px;">
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut
          laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam.
        </p>
        <button routerLink="quiz" class="btn-faca-teste">FAÇA O TESTE</button>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <img src="assets/img_camara_home.png" style="width: 100%;" />
      </div>
    </div>
  </div>
</div>
