<div class="row">
  <div *ngFor="let d of deputadas" class="col-12 col-md-3" style="padding-top: 1em;">
    <div class="card">
      <div class="card-body">
        <img src="{{d.url_foto}}" alt="Avatar">
        <h4 class="card-title nome">{{d.nome}}</h4>
        <h6 class="card-subtitle mb-2 text-muted">{{d.sigla_partido}}</h6>
        <p class="card-text">{{d.detalhe.nome_civil}}</p>
        <a href="#" class="card-link">Pagina na Câmara</a>
        <a routerLink="/deputadas/{{d.id}}/view" class="card-link">Proposições</a>
      </div>
    </div>
  </div>
</div>
