<header class="padding">
  <div class="row">
    <div class="col-md-12">
      <a routerLink="">
        <img class="logo-header" src="assets/logo_typeform-01.png">
      </a>
      <ul class="header-menu" style="margin-top: 80px;">
        <li>
          <a href="#">
            <img src="assets/twittertopo.png" style="max-height: 30px; margin-right: 10px;" />
            <img src="assets/facebooktopo.png" style="max-height: 30px;" />
          </a>
        </li>
        <li><a routerLink="deputadas">CONHEÇA AS DEPUTADAS</a></li>
        <li><a routerLink="sobre">SOBRE</a></li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="line-menu"></div>
    </div>
  </div>
</header>
<div class="content padding">
  <router-outlet></router-outlet>
</div>
<div class="footer">
  <img src="assets/logofooter.png" class="img-footer" />
</div>
